<header
  class="w-full dark:bg-slate-800 h-full fixed top-0 z-[999] transition-all"
  [ngClass]="{ 'header-transparent': isHeaderTransparent }"
>
  <app-header />
</header>
<main class="w-full mt-12 dark:bg-slate-800">
  <router-outlet />
</main>
<footer class="w-full dark:bg-slate-800">
  <app-footer />
</footer>
<span

  class="w-10 h-10 fixed bottom-[54px] cursor-pointer right-5 text-xl flex justify-center items-center rounded-full shadow-xl dark:text-slate-900 dark:shadow-2xl hover:bg-sky-400 hover:text-white dark:bg-slate-300 "
>
  <i nz-tooltip [nzTooltipTitle]="titleMode" (click)="darkMode()" [class]="isDarkMode ? 'pi pi-moon' : 'pi pi-sun'"></i>
</span>

<nz-back-top></nz-back-top>
