<main class="w-full">
    <section class="home py-5 flex justify-center items-center ">
        <home-page></home-page>
    </section>

    <section class="p-5 xl:mb-20">
        <app-abaut/>
    </section>
    <section class="p-1 flex justify-center ">
        <app-skill/>
    </section>
    
    <section >
        <app-services/>
    </section>
    <section >
        <app-experience/>
    </section>
    
    <section >
        <app-portfolio/>
    </section>

    <section >
        <app-contact/>
    </section>

</main>