<main class="w-full">
    <section class="home flex justify-center items-center  max-sm:mt-28">
        <home-page></home-page>
    </section>

    <section class=" mt-2 max-sm:mt-10 ">
        <app-abaut/>
    </section>
    <section class="flex justify-center  mt-2 max-sm:mt-10">
        <app-skill/>
    </section>
    
    <section class=" mt-2 max-sm:mt-10">
        <app-services/>
    </section>
    <section class=" mt-2 max-sm:mt-10">
        <app-experience/>
    </section>
    <section class=" mt-2 max-sm:mt-10">
        <app-studio/>
    </section>
    <section class="flex justify-center mt-2 max-sm:mt-10">
        <app-portfolio/>
    </section>

    <section class=" mt-2 max-sm:mt-10">
        <app-contact/>
    </section>

</main>