<div class="w-full  bg-white rounded-lg shadow-md ">

    <div class="bg-white h-6 rounded-t-lg flex items-center justify-start border-b-[1px] ">
        
        <div class="h-3 w-3 mx-1 rounded-full bg-red-500"></div>
        <div class="h-3 w-3 mx-1 rounded-full bg-yellow-400"></div>
        <div class="h-3 w-3 mx-1 rounded-full bg-green-500"></div>
        <div class="text-gray-500 w-full ">
            <p class="text-center rounded-md bg-slate-200 w-auto font-semibold">localhost:4200</p>
            </div>
    </div>
    

    <div class="w-full flex justify-center items-center dark:bg-slate-500  bg-white rounded-b-lg text-white text-sm  md:h-40 overflow-auto">
        
        <h1 class="typing-text text-xl font-bold py-10 px-10 dark:text-white">Hello World, Welcome </h1>

    </div>

</div>