<div class="flex justify-center">
    <div class="container flex flex-col items-center ">
        <h2 class="text-2xl text-slate-500 text-center uppercase title tracking-widest  max-sm:text-center max-sm:text-xl">
            Jhoel silvestre Vargas.</h2>
        <div class="h-20 w-[1px] bg-indigo-300"></div>
        <span class="h-10 w-10 grid place-content-center  bg-indigo-400 rounded-full text-white text-xl ">
            <i class="pi pi-user"></i>
        </span>
        <h3 class="text-6xl text-indigo-500 text-center font-bold my-5 tracking-tight   max-sm:text-center max-sm:text-4xl">
            Acerca sobe mi.</h3>
        
            <div class="flex flex-col items-center justify-center md:flex-row xl:w-8/12">
                <div class="md:w-1/2 md:pr-8">
                  <p class="text-gray-500 mb-4">
                    ¡Hola! Soy un apasionado desarrollador frontend con un enfoque en crear experiencias web atractivas y funcionales. Mi objetivo es combinar diseño y tecnología para entregar productos excepcionales a los usuarios.
                  </p>
                  <p class="text-gray-500">
                    Mi experiencia incluye el uso de tecnologías modernas como Angular, React y Vue.js para crear aplicaciones web de alta calidad. Siempre estoy buscando oportunidades para aprender y mejorar mis habilidades.
                  </p>
                </div>
                <div class="md:w-1/2 ">
                  <h3 class="text-indigo-500 font-bold text-xl mb-2">Mis Pasatiempos</h3>
                  <ul class="list-disc list-inside text-gray-500">
                    <li>Explorar nuevas tendencias en diseño web</li>
                    <li>Experimentar con animaciones y efectos visuales</li>
                    <li>Contribuir a proyectos de código abierto</li>
                    <li>Participar en hackathones de desarrollo</li>
                  </ul>
                </div>
              </div>
        
    
    </div>
</div>

