<div class=" flex justify-center ">
  <div class="container flex flex-col items-center ">
    <h2 class="text-2xl text-slate-500 text-center uppercase title tracking-widest dark:text-white  max-sm:text-center max-sm:text-xl ">
      Jhoel silvestre Vargas.</h2>
    <div class="h-20 w-[1px] bg-indigo-300"></div>
    <span class="h-10 w-10 grid place-content-center  bg-indigo-400 rounded-full text-white text-xl ">
      <i class="pi pi-user"></i>
    </span>
    <h3 class="text-6xl text-indigo-500 text-center font-bold my-5 tracking-tight   max-sm:text-center max-sm:text-4xl">
      Acerca sobe mi.</h3>

    <div class="grid grid-cols-2 items-center mt-10 gap-5 justify-center max-md:grid-cols-1 md:flex-row xl:w-9/12">
      <div class="w-full max-md:px-2">
        <app-terminal class=""></app-terminal>
        <app-view class=" -mt-8 absolute ml-44"></app-view>
      </div>
      <div class="max-md:px-2">
        <div class="flex flex-col gap-2">
          <span class=" border-[2px] grid place-content-center rounded-md w-10 py-3 px-2">
            <i class="pi pi-user dark:text-white"></i>
          </span>
          <h1 class=" typing-text text-2xl font-bold dark:text-white">¡Hola! Soy Jhoel Silvestre</h1>
          <p class="text-gray-500 tracking-widest text-justify mb-4  dark:text-slate-400">
            Un apasionado desarrollador frontend con un enfoque en crear experiencias web atractivas y
            funcionales. Mi objetivo es combinar diseño y tecnología para entregar productos excepcionales a los usuarios.
          </p>
        </div>
        <div class="flex flex-col gap-2 mt-5">
          <span class=" border-[2px] grid place-content-center rounded-md w-10 py-3 px-2">
            <i class="pi pi-arrow-up-right dark:text-white"></i>
          </span>
          <h1 class="typing-text text-2xl font-bold dark:text-white">Mi experiencia incluye</h1>
          <p class=" text-gray-500 tracking-widest text-justify mb-4 dark:text-slate-400">
            El uso de tecnologías modernas como Angular con Typescript para crear aplicaciones web
            de alta calidad. Siempre estoy buscando oportunidades para aprender y mejorar mis habilidades.
          </p>
        </div>

        
      </div>
      
    </div>


  </div>
</div>