<div class="isolate dark:bg-slate-800 bg-white px-6 py-10 sm:pt-32 lg:px-8">
  <div
    class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
    aria-hidden="true"
  >
    <div
      class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#d185a5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>
  <div class="mx-auto max-w-2xl dark:bg-slate-800 text-center">
    <h3
      class="text-6xl text-indigo-500 text-center font-bold my-5 tracking-tight max-sm:text-center max-sm:text-4xl"
    >
      Contacto.
    </h3>
    <h2
      class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-white"
    >
      Rellenar el formulario
    </h2>
    <p class="mt-2 text-lg leading-8 text-gray-600 dark:text-slate-400">
      Completa todos los campos y enviame un mensaje.
    </p>
  </div>
</div>
<div class="flex justify-center">
  <div
    class="grid grid-cols-2 container py-10 max-lg:grid-cols-1 xl:w-[1024px] max-lg:w-full"
  >
    <div class="px-10 max-md:px-8">
      <div class="flex flex-col gap-2">
        <span
          class="border-[2px] grid place-content-center rounded-md w-10 py-3 px-2"
        >
          <i class="pi pi-map-marker dark:text-white"></i>
        </span>
        <h1 class="typing-text text-2xl font-bold dark:text-white">
          Mi Ubicacion:
        </h1>
        <p
          class="text-gray-500 tracking-widest text-justify mb-4 dark:text-slate-400"
        >
          Junin - Huancayo
        </p>
      </div>
      <div class="flex flex-col gap-2 mt-5">
        <span
          class="border-[2px] grid place-content-center rounded-md w-10 py-3 px-2"
        >
          <i class="pi pi-google dark:text-white"></i>
        </span>
        <h1 class="typing-text text-2xl font-bold dark:text-white">
          Correo electronico:
        </h1>
        <p
          class="text-gray-500 tracking-widest text-justify mb-4 dark:text-slate-400"
        >
          jhoel.sv25@gmail.com
        </p>
      </div>
      <div class="flex flex-col gap-2 mt-5">
        <span
          class="border-[2px] grid place-content-center rounded-md w-10 py-3 px-2"
        >
          <i class="pi pi-mobile dark:text-white"></i>
        </span>
        <h1 class="typing-text text-2xl font-bold dark:text-white">
          Telefono:
        </h1>
        <p
          class="text-gray-500 tracking-widest text-justify mb-4 dark:text-slate-400"
        >
          +51 918506768
        </p>
      </div>
    </div>
    <form
      class="mx-auto max-w-xl dark:bg-slate-800 max-lg:w-full max-lg:px-10 max-lg:mt-5"
      [formGroup]="contact"
    >
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
        <div>
          <label
            for="name"
            class="block text-sm font-semibold leading-6 text-gray-900 dark:text-slate-400"
            >Nombre</label
          >
          <div class="mt-2.5">
            <input
            
              type="text"
              name="name"
              id="name"
              autocomplete="Nombre"
              formControlName="name"
              class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 dark:bg-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
            />
            <div
              class="text-red-600"
              *ngIf="
                contact.get('name')?.invalid &&
                (contact.get('name')?.dirty || contact.get('name')?.touched)
              "
            >
              {{ getErrorMessage("name") }}
            </div>
          </div>
        </div>
        <div>
          <label
            for="email"
            class="block text-sm font-semibold leading-6 text-gray-900 dark:text-slate-400"
            >Correo</label
          >
          <div class="mt-2.5">
            <input
              type="email"
              name="email"
              id="email"
              autocomplete="family-name"
              formControlName="email"
              class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 dark:bg-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
            />
            <div
              class="text-red-600"
              *ngIf="
                contact.get('email')?.invalid &&
                (contact.get('email')?.dirty || contact.get('email')?.touched)
              "
            >
              {{ getErrorMessage("email") }}
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label
            for="asunto"
            class="block text-sm font-semibold leading-6 text-gray-900 dark:text-slate-400"
            >Asunto</label
          >
          <div class="mt-2.5">
            <input
              type="text"
              name="Asunt"
              id="asunto"
              autocomplete="Asunto"
              formControlName="asunt"
              class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 dark:bg-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
            />
            <div
              class="text-red-600"
              *ngIf="
                contact.get('asunt')?.invalid &&
                (contact.get('asunt')?.dirty || contact.get('asunt')?.touched)
              "
            >
              {{ getErrorMessage("asunt") }}
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label
            for="message"
            class="block text-sm font-semibold leading-6 text-gray-900 dark:text-slate-400"
            >Mensaje</label
          >
          <div class="mt-2.5">
            <textarea
              name="message"
              id="message"
              rows="4"
              formControlName="message"
              placeholder="Escribe el mensaje"
              class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 dark:bg-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
            ></textarea>
            <div
              class="text-red-600"
              *ngIf="
                contact.get('message')?.invalid &&
                (contact.get('message')?.dirty ||
                  contact.get('message')?.touched)
              "
            >
              {{ getErrorMessage("message") }}
            </div>
          </div>
        </div>
      </div>
      <div class="mt-10">
        <button
          type="submit"
          (click)="formContact()"
          class="block w-full rounded-md dark:text-white bg-indigo-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Enviar Mensaje
        </button>
      </div>
    </form>
  </div>
</div>
<nz-alert
  *ngIf="viewAlert"
  class="fixed top-10 right-0 font-bold py-5"
  nzBanner
  [nzType]="errorType"
  [nzMessage]="messageText"
  nzCloseable
>
</nz-alert>
