<div class="h-full justify-between items-center dark:bg-slate-800  flex xl:px-20 md:px-5 max-lg:px-8">
    <div class="font-bold">
        <h1 class="text-xl uppercase dark:text-white"> <a href="#"> < Jhoel Silvestre /> </a> </h1>

    </div>

<ul class="menu dark:bg-slate-800  flex gap-3" #menuRef [ngClass]="{'menu-hidden': isMenuHidden}">
    <li *ngFor="let item of items()" class="font-semibold text-base text-slate-800 hover:text-slate-950 dark:text-slate-100 ">
      <a [routerLink]="[item.url]" routerLinkActive="actived">{{ item.name }}</a>
    </li>
  </ul>
    
  
  <span  (click)="toggleMenu()" class="pi {{ isMenuHidden ? ' pi-times' : 'pi-bars' }} text-xl cursor-pointer hidden max-lg:block  dark:text-white"></span>  
</div>

