<div class="flex flex-col items-center px-2 justify-center">

    <div class="container flex justify-center flex-col  ">
        <div class="flex container flex-col my-10">
            <h1 class="text-7xl  text-center text-indigo-500 font-bold tracking-wide  max-sm:text-center max-sm:text-4xl">
                Experiencia laboral.</h1>
            <p
                class="text-2xl font-semibold container  px-5 mt-5  text-center text-slate-500 lg:w-9/12 lg:mx-auto ">
                Diseño web, ERP Odoo y desarrollo web profesional a medida. </p>
        </div>
        <div class="flex justify-center mt-10">
            <nz-timeline nzMode="alternate" class="xl:w-9/12 p-2 ">
                <nz-timeline-item *ngFor="let experience of experiences()" nzColor="gray" [nzLabel]="experience.dateStart"  >
                    <div class="bg-white dark:bg-slate-700  p-6 rounded-lg shadow-md  hover:shadow-xl">
                        <span class="flex justify-between">
                            <p class="text-gray-500 text-sm dark:text-slate-300">{{ experience.dateEnd }}   </p>
                            <h2 class="tracking-wider text-black dark:text-indigo-300">{{experience.company}} </h2>
                        </span>
                     <h3 class="text-lg font-bold text-start mt-2 dark:text-white">{{experience.cargo}} </h3>
                    <p class="text-gray-700 tracking-wider text-base text-justify mt-2 dark:text-slate-400">{{ experience.description}}</p> 
                     
                  </div>
                </nz-timeline-item>
        
              </nz-timeline>
        </div>
        
        
    </div>
    <div class="container flex justify-center flex-col ">
        <app-studio/>
    </div>
    
</div>




