
<div class="flex justify-center">
    <div class="container flex flex-wrap gap-10 justify-center p-5 my-10">
        <div class="flex container flex-col my-10">
            <h2 class="text-7xl text-indigo-500  text-center font-bold tracking-widest  max-sm:text-center max-sm:text-4xl">
                Servicios.</h2>
            <p
                class="text-2xl font-semibold container  px-5 mt-5  text-center text-slate-500 lg:w-9/12 lg:mx-auto ">
                Diseño web, ERP Odoo y desarrollo web profesional a medida. </p>
        </div>
        <div *ngFor="let service of services()"
            class=" dark:bg-slate-700  px-5 flex flex-col justify-evenly w-80 h-[30vh] rounded-lg shadow-lg hover:shadow-xl max-sm:h-[45vh]">
            <div class="flex justify-center">
                <img [src]="service.urlImage" [alt]="service.title" height="70" width="70"class="opacity-60 hover:opacity-100">
            </div>
    
            <h1 class="text-xl font-bold text-center text-black dark:text-white ">{{ service.title}} </h1>
            <p class="text-slate-500 tracking-wide text-base text-justify dark:text-slate-400">
                {{ service.description}}
            </p>
    
        </div>
    
    </div>
</div>
